.yarn
.DS_Store
node_modules
/dist
/logs
/builder-dist
/sever/data-base/view-data

# native env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
builder.log*
builder-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?